# Si ignora tutto nella radice, poi si elencano le eccezioni pubbliche.
/*
!/.gitignore
!/CHANGELOG.md
!/CNAME
!/condizioni/
!/LICENSE
!/LICENSE-MIT
!/LICENSE-CC-BY-NC-SA
!/README.md
!/VERSION
!/index.html
!/afam/
!/assets/
!/dati/
!/dist/
!/en/
!/fr/
!/src/
!/stem/
!/strumenti/
!/privacy/
!/umanistiche/
!/zh/

# Dentro le cartelle permesse
.DS_Store
__pycache__/
